button{
    border: #222 solid 1px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    text-decoration: none;
    text-align: center;
}

button:hover{
    cursor: pointer;
    background-color: #222;
    color: orange;
}

.back{
    width: 150px;
    background-color: orange;
    color: #222;
}